.app-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  gap: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  width: 80%;
}

.label-config {
  font-size: 1.5rem;
}

.buttons-config {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.2rem;
  color: green;
}

@media (min-width: 768px) {
  
}